<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Пользователь, добро пожаловать на родную страничку!</h1>
<div>
    <h2 class="text-block2"><p th:text="'Информация о пользователе: ' + ${user.getName()}">Инфа</p></h2>
</div>

<div class="text-block">

    <p th:text="'Id: ' + ${user.getId()}">Id</p>
    <p th:text="'Имя: ' + ${user.getName()}">Name</p>
    <p th:text="'Фамилия: ' + ${user.getSurname()}">Surname</p>
    <p th:text="'Город: ' + ${user.getCity()}">City</p>
    <p th:text="'Возраст: ' + ${user.getAge()}">Age</p>
    <p th:text="'Имя пользователя: ' + ${user.getUsername()}">Username</p>
    <p th:text="'Роль: ' + ${user.getRoles()}">Roles</p>

</div>

<form class="form-signin" method="get" action="/logout">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log out</button>
</form>


</body>
</html>